body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/*navegacion*/
.nav{
  background-color: #43a1be;
}

/*Search*/
.searchContainer{
  display: flex;
  flex-direction: row;
}
.search{
  padding: 2em 0 0.5em; 
  justify-content: flex-end;
}

/*Cards*/
.card-container{
  padding: 2em 0;
}

.card{
  background-color: #efefefad!important;
  border-color: rgb(239, 239, 239)!important;
  box-shadow: 23px 19px 28px -14px rgba(0,0,0,0.1);
}
.card-body-btn{
  display: flex;
  flex-direction: column;
}
.card-img{
  max-width: 70%; 
  display: block;
  margin: auto;
}

.card-title{
  text-align: center;
  text-transform: capitalize;
  padding: 0.5em 0;
}
.card-text{
  padding: 0.5em 0;
}

.card-btn{
  background-color: #8fd053!important;
  border-color: #8fd053!important;
  color: rgb(255, 255, 255)!important;
}
.card-btn:hover{
  background-color: #a5e569!important;
}