@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/*types*/
.badge-type{
  --bs-badge-padding-x: 1.2em;
  --bs-badge-padding-y: 0.30em;
  --bs-badge-font-size: 0.8em;
  --bs-badge-font-weight: 700;
  --bs-badge-color: #fff;
  --bs-badge-border-radius: 0.375rem;
  display: inline-block;
  padding: var(--bs-badge-padding-y) var(--bs-badge-padding-x);
  font-size: var(--bs-badge-font-size);
  font-weight: var(--bs-badge-font-weight);
  color: var(--bs-badge-color);
  text-align: center;
  vertical-align: baseline;
  border-radius: var(--bs-badge-border-radius);
  margin-right: 1em;
}

.background-normal {
  background-color: #a4acaf!important;
  color: #212121 !important;
}

.background-dragon {
  background: linear-gradient(180deg, #53a4cf 50%, #f16e57 50%)!important;
  background-color: #53a4cf!important;
  color: #fff !important;
}

.background-grass {
  background-color: #9bcc50!important;
  color: #212121 !important;
}

.background-poison {
  background-color: #b97fc9!important;
  color: #fff !important;
}

.background-fire {
  background-color: #fd7d24!important;
  color: #fff !important;
}

.background-water {
  background-color: #4592c4!important;
  color: #fff !important;
}

.background-electric {
  background-color: #eed535!important;
  color: #212121 !important;
}

.background-bug {
  background-color: #729f3f!important;
  color: #fff !important;
}

.background-flying {
  background: linear-gradient(180deg, #3dc7ef 50%, #bdb9b8 50%)!important;
  background-color: #3dc7ef!important;
  color: #212121 !important;
}

.background-fairy {
  background-color: #fdb9e9!important;
  color: #212121 !important;
}

.background-psychic {
  background-color: #f366b9!important;
  color: #fff !important;
}

.background-rock {
  background-color: #a38c21!important;
  color: #fff !important;
}

.background-ice {
  background-color: #51c4e7!important;
  color: #212121 !important;
}

.background-ghost {
  background-color: #7b62a3!important;
  color: #fff !important;
}

.background-steel {
  background-color: #9eb7b8!important;
  color: #212121 !important;
}

.background-fighting {
  background-color: #d56723!important;
  color: #fff !important;
}

.background-ground {
  background: linear-gradient(180deg, #f7de3f 50%, #ab9842 50%)!important;
  background-color: #f7de3f!important;
  color: #212121 !important;
}

/*header*/
.header-container{
  text-align: center;
}
.header-container h3{
  font-family: 'Bebas Neue', cursive;
  font-size: 2.2em;
  padding-top: 2.8em;
}

/*navigation*/
.nav{
  background-color: #43a1be;
}

.nav-link a{
  color: white;
  font-size: 1.1em;
  font-weight: 600;
  margin-left: 2em;
}

.nav-link a:hover{
  color: #f7de3f;
}

/*No results*/
.no-container{
  display: flex;
  justify-content: center;
}

.no-results{
  text-align: center;
}

/*Search*/
.searchContainer{
  display: flex;
  flex-direction: row;
}
.search{
  padding: 2em 0 0.5em; 
  justify-content: center;
}

/*Cards*/
.card-container{
  padding: 2em 0;
}

.card{
  background-color: #efefef9f!important;;
  border-color: rgb(239, 239, 239)!important;
  box-shadow: 23px 19px 28px -14px rgba(0,0,0,0.1);
}
.card-body-btn{
  display: flex;
  flex-direction: column;
}
.card-img{
  max-width: 70%; 
  display: block;
  margin: auto;
}
.card-title{
  text-align: center;
  text-transform: capitalize;
  padding: 0.5em 0;
}
.card-text{
  padding: 0.5em 0;
}
.card a{
  text-decoration: none;
}
.card-btn{
  background-color: #8fd053!important;
  border-color: #8fd053!important;
  color: rgb(255, 255, 255)!important;
}
.card-btn:hover{
  background-color: #a5e569!important;
}

/*pokemon detail page*/
.detail-container{
  padding-top: 6.5em;
}
.detail-container a{
  text-decoration: none;
  color: gray;
}
.detail-card{
  padding: 2em 5em;
}
.detail-card img{
  max-width: 50%;
}


/*evolution*/
.evolve-card{
  display: flex;
  flex-direction: row;
  align-items: baseline;
  padding: 1.5em 0;
}
.detail-att{
  font-weight: bold;
}
.detail-att span{
  font-weight: normal;
}
.detail-list{
  list-style: none!important;
}

/*pokedex*/
.pokedex-container{
  padding-top: 6em;
}
.pokedex-container h3{
  padding-bottom: 0.5em;
  text-align: center;
  font-family: 'Bebas Neue', cursive;
}

/*Media query*/
@media (max-width: 768px) {
  .no-container img{
    max-width: 75%;
  }
}